# Ignore virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

app/__pycache__/
.pytest_cache/
app/.pytest_cache/
app/frontend/__pycache__/

# Ignore Docker volumes
app/disease_track.db
app/notebook/data_etl_output.csv
app/notebook/model.pkl
app/api/disease_track.db
app/notebook/mlruns/*
app/notebook/.ipynb_checkpoints
app/api/.pytest_cache/

.vscode

.requirements.txt