# Ignore virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

app/__pycache__/
app/.pytest_cache/
app/frontend/__pycache__/
app/disease_track.db

# Ignore Docker volumes
app/api/
app/frontend/
app/notebook/
app/disease_track.db
app/notebook/data_etl_output.csv

.vscode

.requirements.txt